.header {
    display: flex;
    font-family: monospace;  
    flex-direction: row;    
    background-color: burlywood;

}


a#logo {
    display: flex;
    color: black;
    font-size: 40px;
    padding: 30px;
    text-decoration: none;
    margin-right:400px;
    
}

a.link {
    display: flex;
    text-decoration: none;
    color: red;
    justify-content: flex-end;
    flex-direction: row;
    padding-top: 50px;
    margin-left: 30px;

}

.sumup {
    display: flex;
    padding: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}


#app {
    display: flex;
    font-family: monospace;
    font-size: 15px;
}

#appliancepic {
    display: flex;
    flex-direction: row;
    
}


.footertext {
    display:flex;
    font-family: monospace;
    font-size: 30px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;

}

.footer {
    display:flex;
    padding: 50px;
    background-color: rgb(55, 55, 99);
    flex-direction: column;

}

.contact {
    display: flex;
    margin-left: 40px;
    flex-direction: column;
}


#rut {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

#ru {
   font-family: 'Courier New', Courier, monospace;

}

.form {
    display: flex;
    padding: 20px;
    flex-direction: column;
    
}

.text {
    display: flex;
    justify-content: center;
}

.submitstuff {
    display: flex;
    padding: 10px;
    background-color: burlywood;
    margin: 10px;
    border-radius: 25px;
    justify-content: center;
    
}

.word {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.yo {
    display:flex;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    display:flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.junk {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    justify-content: center;
}

.ukachoka {
    display: flex;
    flex-direction: row;
}

.ya {
    display: flex;
    padding: 20px;
}


.stuff {
    display: flex;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    justify-content: center;
}